body {
    margin: 0;
}
.wrap {
    width: 1200px;
    height: 100vh;
    margin: 0 auto;
    background-color: rgba(200, 200, 200, 0.2);
}
.header {
    color: green; 
    text-align: center; 
    padding: 70px 0 50px;
    margin: 0;
}
table {
    margin: 0 auto;
}
.tb_title {
    background-color: green;
    color: white;
}
.tb_title > th {
    height: 40px;
    line-height: 30px;
    padding: 0 16px;
}
.tb_info > td {
    padding: 5px;
    max-width: 400px;
}

.menu-wrap {
    margin-top: 60px;
    text-align: center;
}

.menu-wrap  a {
    display: inline-block;
    padding: 15px 20px;
    margin-right: 10px;

    border: 2px solid green;
    border-radius: 40px;
    box-sizing:border-box;

    line-height: 16px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: green;

    background-color: white;

    transition: linear 0.3s;
    
}
.menu-wrap a:last-child {
    margin-right: 0;
}

.menu-wrap  a:hover {
    background-color: green;
    color: white;
}

.wrap img {
    margin-top: 100px;
    display: block;
    width: 100%;
}





