body {
    margin: 0;
}
.wrap {
    width: 1200px;
    height: 640px;
    margin: 0 auto;
    background-color: rgba(200, 200, 200, 0.2);
    position: relative;
}
div.inner_wrap {
    width: 100%;
    height: 400px;
    position: absolute;
    top: 150px;
}
p {
    color: green;
    font-size: 30px;
    font-weight: 900;
    text-align: center;
}
a {
    display: block;
    font-size: 23px;
    padding-top: 40px;
    text-align: center;
    text-decoration: none;
    color: green;
}