<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Challenge Result</title>
    <link rel="stylesheet" th:href="@{/css/challengeInsertRst.css}"/>
    <link rel="stylesheet" href="../../static/css/challengeInsertRst.css"/>
    
</head>
<body>
    <div class="wrap">
        <div class="inner_wrap">
            <p>
                챌린지가 추가되었습니다.
                <br>
                <a href="http://localhost:8111/challenge/select">챌린지 목록을 보시려면 클릭해주세요!</a>
            </p>
        </div>
        <img th:src="@{/img/ecoImage.png}" />
        <!-- <img src="../../static/img/ecoImage.png" alt="에코이미지"> -->
    </div>
</body>
</html>