<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Challenge</title>
    <link rel="stylesheet" th:href="@{/css/challengeInsert.css}"/>
    <link rel="stylesheet" href="../../static/css/challengeInsert.css"/>
</head>
<body>
    <div class="wrap">
        <h1 class="header">New Challenge</h1>
        <form th:action="@{/challenge/insert}" th:object="${chlName}" method="post">
            <div class="inputbox_css">
                <label for="chlName">Name :</label>
                <input type="text" id="chlName" th:field="*{chlName}" />
            </div>
            <div class="inputbox_css">
                <label for="chlIcon">Icon :</label>
                <input type="text" id="chlIcon" th:field="*{chlIcon}" />
            </div>
            <div class="inputbox_css">
                <label for="chlDesc">Desc :</label>
                <input type="text" id="chlDesc" th:field="*{chlDesc}" />
            </div>
            <div class="inputbox_css date_css">
                <label for="date">Date :</label>
                <input type="date" id="date" th:field="*{date}" />
            </div>
            <div class="inputbox_css">
                <label for="chlLevel">Level :</label>
                <input type="text" id="chlLevel" th:field="*{chlLevel}" />
            </div>
            <div class="inputbox_css">
                <label for="chlPoint">Point :</label>
                <input type="text" id="chlPoint" th:field="*{chlPoint}" />
            </div>
            <div class="btnbox">
                <button type="submit">Save !</button>
            </div>
        </form>
    </div>
</body>
</html>