<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>ECOHERO</title>
    <link rel="stylesheet" th:href="@{/css/ecoheroMenu.css}"/>
    <link rel="stylesheet" href="../../static/css/ecoheroMenu.css"/>
</head>
<body>
    <div class="wrap">
        <h3>ECOHERO에 오신걸 환영합니다</h3>
        <p>메뉴를 선택해 주세요</p>
        <div class="menu-wrap">
            <a href="http://localhost:8111/members/select">Members</a>
            <a href="http://localhost:8111/feed/select">Feed</a>
            <a href="http://localhost:8111/challenge/select">Challenge</a>
        </div>
    </div>
</body>
</html>