<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>FeedInsert</title>
    <link rel="stylesheet" th:href="@{/css/feedInsert.css}"/>
    <link rel="stylesheet" href="../../static/css/feedInsert.css"/>
</head>
<body>
    <div class="wrap">
        <h1 class="header">New Feed</h1>
        <form th:action="@{/feed/insert}" th:object="${newfeed}" method="post">
            <div class="inputbox_css">
                <label for="userId">유저 아이디 : </label>
                <input placeholder="아이디를 입력하세요!" type="text" id="userId" th:field="*{userId}" />
            </div>
            <div class="inputbox_css">
                <label for="ecoImg">이미지 : </label>
                <input placeholder="이미지를 입력하세요!" type="text" id="ecoImg" th:field="*{ecoImg}" />
            </div>
            <div class="inputbox_css">
                <label for="chlName">챌린지명 : </label>
                <input placeholder="챌린지명을 입력하세요!" type="text" id="chlName" th:field="*{chlName}" />
            </div>
            <div class="inputbox_css textarea">
                <label for="ecoTxt">내용 : </label>
                <input placeholder="내용을 입력하세요!" type="text" id="ecoTxt" th:field="*{ecoTxt}" />
            </div>
            <div class="btnbox">
                <button type="submit">추가하기</button>
            </div>
        </form>
    </div>
</body>
</html>