<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Feed Result</title>
    <link rel="stylesheet" th:href="@{/css/feedInsertRst.css}"/>
   <link rel="stylesheet" href="../../static/css/feedInsertRst.css"/>
</head>
<body>
    <div class="wrap">
        <div class="inner_wrap">
            <p>
                피드가 추가되었습니다.
                <br>
                <a href="http://localhost:8111/feed/select">피드 목록을 보시려면 클릭해주세요!</a>
            </p>
        </div>
    </div>
</body>
</html>