<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Result</title>
    <link rel="stylesheet" th:href="@{/css/feedInsertRst.css}"/>
<!--    <link rel="stylesheet" href="../../static/css/feedInsertRst.css"/>-->
</head>
<body>
    <div class="wrap">
        <div class="inner_wrap">
            <p>
                새로운 피드 추가 성공!!!
                <br>
                <a href="http://localhost:8111/feed/select">결과 보러가기 클릭!</a>
            </p>
        </div>
    </div>
</body>
</html>