<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Feed_Select</title>
    <link rel="stylesheet" th:href="@{/css/feedSelect.css}"/>
    <link rel="stylesheet" href="../../static/css/feedSelect.css"/>
</head>
<body>
    <div class="wrap">
        <h1 class="header">피드 정보</h1>
        <table border="1" style="border-collapse: collapse;">
            <thead>
            <tr  class="tb_title">
                <th>고유번호</th>
                <th>닉네임</th>
                <th>이미지</th>
                <th>챌린지명</th>
                <th>내용</th>
                <th>좋아요</th>
            </tr>
            </thead>
            <tbody>
            <tr class="tb_info" th:each="f : ${feeds}">
                <td th:text="${f.feedNum}"></td>
                <td th:text="${f.userAlias}"></td>
                <td th:text="${f.ecoImg}"></td>
                <td th:text="${f.chlName}"></td>
                <td th:text="${f.ecoTxt}"></td>
                <td th:text="${f.goodNum}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>