<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>New Members</title>
</head>
<body>
    <h1>New Members</h1>
    <form th:action="@{/members/insert}" th:object="${userId}" method="post">
        <div>
            <label for="userId">User ID : </label>
            <input type="text" id="userid" th:field="*{userId}"/>
        </div>
        <div>
            <label for="userPw">User Pw : </label>
            <input type="text" id="userPw" th:field="*{userPw}"/>
        </div>
        <div>
            <label for="userAlias">User Alias : </label>
            <input type="text" id="userAlias" th:field="*{userAlias}"/>
        </div>
        <div>
            <label for="userName">UserName : </label>
            <input type="text" id="userName" th:field="*{userName}"/>
        </div>
        <div>
            <label for="userEmail">UserEmail : </label>
            <input type="text" id="userEmail" th:field="*{userEmail}"/>
        </div>
        <div>
            <label for="userPhone">UserPhone : </label>
            <input type="text" id="userPhone" th:field="*{userPhone}"/>
        </div>
        <div>
            <Button type="submit">가입하기</Button>
        </div>
    </form>
</body>
</html>